#main-doc{
 margin-left: 200px;
 font-family: arial;
}

#navbar{
  height: 100%;
  width: 200px;
  position: fixed;  
  top: 0; 
  left: 0;
  background-color: #white;
  overflow-x: hidden;
  border-style: solid;
  border-width: 0 3px 0 0;
}

div{
  border-style: solid;
  border-width: 0 0 1px 0;
  padding: 10px 0 10px 0;
}

header{
  font-weight: bold;
  font-size: 30px;
  padding: 30px;
}

.nav-link{
  text-decoration: none;
  font-weight: bold;
  padding: 20px 0 20px 20px;
  color: black;
  
}


li{
  padding: 10px 0 10px 0;
}

p{
  padding: 0 0 0 30px;
}

code{
  padding: 0 80px 0 80px;
  display: block;
  background-color: lightgray;
  margin: auto;
  width: 50%;
  padding: 10px;
}


@media screen and (max-width: 1500px) {
  nav-bar {
    width:200px;
  }
}

@media screen and (max-width: 750px) {
  nav-bar {
    width:100px;
  }
}
